/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 150px;
}
.dark-container {
  background-color: #000000;
  height: 40vh;
  width: 40vh;
  color: #ffffff;
  font-size: 10px;
  padding: 5px;
}

.light-container {
  background-color: #ffffff;
  height: 40vh;
  width: 40vh;
}
